# Игнорируем зависимости сервера
node_modules/

# Игнорируем зависимости фронтенда (вложенная папка)
dashboard/node_modules/

# Игнорируем секретные файлы (пароли, ключи)
.env

# Игнорируем логи PM2 и системы
*.log

# Игнорируем временные файлы MacOS (ты же на макбуке)
.DS_Store

# А ВОТ ЭТО ВАЖНО:
# Мы НЕ игнорируем папку public, потому что в ней будет лежать готовый билд,
# который сервер должен "увидеть" после git pull.